In [47]:

import pandas as pd 
import numpy as np
import os
import warnings
warnings.filterwarnings('ignore')

### checking if malicious users exists in file_names

In [22]:
file_names=os.listdir('E:\\user_files')
users=file_names[0:100]
for i in range(len(users)):
    name=users[i].split('.')
    users[i]=name[0]

In [23]:
malicious_users=['BBS0039','BSS0369','CCA0046','CSC0217','GTD0219','JGT0221','JLM0364','JTM0223','MPM0220','MSO0222']

w=np.array(users)
nm=np.array(malicious_users)
a=np.intersect1d(w, nm)
# malicious_users.remove(a)
users+=malicious_users

In [24]:
len(users)

110

In [25]:
mean=[]
mod=[]
median=[]
userfile_name=[]
for i in range(len(users)):
    data=pd.read_csv(f'user_files//{users[i]}.csv')
#     print(name)
    userfile_name.append(users[i])
    m1=data['Negative'].mean()
    m2=data['Positive'].median()
    m3=data['Neutral'].mode()
    mean.append(m1)
    mod.append(m3[0])
    median.append(m2)

### Creating Dataset

In [26]:
df=pd.DataFrame()
df['user']=userfile_name
df['mean']=mean
df['mode']=mod
df['median']=median
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   user    110 non-null    object
 1   mean    110 non-null    float64
 2   mode    110 non-null    float64
 3   median  110 non-null    float64
dtypes: float64(3), object(1)
memory usage: 3.6+ KB

### Adding target column

In [45]:
df['user_type']=0

In [46]:
df.to_csv('data_for_ann.csv')

In [44]:
# df['user_type']=np.where(df['user']=='BBS0039', 1,0)

        user      mean  mode  median  user_type
90   BAK0964  0.416185   0.0     1.0          0
91   BAL0044  4.169540   0.0     6.0          0
92   BAM0611  6.641618   0.0     7.0          0
93   BAM0636  0.609827   0.0     2.0          0
94   BBG0325  6.667630   0.0     7.0          0
95   BBH0810  3.462428   0.0     5.0          0
96   BBS0039  4.121019   0.0     6.0          1
97   BBS0422  3.822816   0.0     4.0          0
98   BCB0679  2.911032   0.0     5.0          0
99   BCM0653  0.985549   0.0     2.0          0
100  BBS0039  4.121019   0.0     6.0          1
101  BSS0369  3.945607   0.0     5.0          0
102  CCA0046  3.880597   0.0     6.0          0
103  CSC0217  3.805310   0.0     6.0          0
104  GTD0219  4.516949   0.0     6.0          0
105  JGT0221  4.248175   0.0     6.0          0
106  JLM0364  4.077612   0.0     6.0          0
107  JTM0223  4.401408   0.0     6.0          0
108  MPM0220  4.238532   0.0     6.0          0
109  MSO0222  4.087866   0.0     6.0          0